body{
	text-align: center;
	background: url("../img/background.jpg")center center fixed;
	background-size: cover;
}
.term{
	font-size: 1.4em;
	text-transform: uppercase;
	padding-top: 93px;
}
.term:hover{
		text-shadow: 1px 1px grey;
}
.definition{
	margin-top: 30px;
}
.show{
	display: block;
	overflow: hidden;
}
.hide{
	display: none;
}
.row > div {
	min-height: 260px;
	/*border: 1px solid black;*/
	background: url("../img/notecard.jpg");
	margin: 17px;
	border: solid 4px rgba(0, 0, 0, 0.3);
}
h1, h2{
	font-family: 'Shrikhand';
	color: white;
}
.jumbotron{
	background: #c5d5cb;
}
p{
	font-family: 'Slabo 27px', serif;
}
.glyphicon{
	font-size: 3em;
}
